<div class="container-2xl m-auto h-screen bg-etiyaNavyColor-1000">
  <div class="flex h-full flex-col items-center justify-center text-center">
    <div class="mb-3 flex flex-row items-center justify-center">
      <p class="mr-6 text-9xl font-extrabold text-etiyaOrangeColor-1000">404</p>
      <p class="text-6xl text-etiyaOrangeColor-1000">Sayfa Bulunamadı.</p>
    </div>
    <p class="mb-6 w-1/3 text-xl text-white-800">
      Aradığınız sayfa mevcut değil. Adresi yanlış yazmış olabilirsiniz veya
      sayfa taşınmış olabilir.
    </p>
    <a
      (click)="backToLastPage()"
      class="cursor-pointer rounded-sm bg-etiyaOrangeColor-1000 py-3 px-4 font-medium text-white-1000"
      >Geri Dön</a
    >
  </div>
</div>
