<div class="container-2xl bg-white h-full">
  <nav class="flex h-full w-full items-center justify-between px-10 py-3">
    <ul class="flex w-full justify-between">
      <li class="flex w-40 items-center">
        <a href=""><img src="../../assets/etiya-logo.png" alt="" /></a>
      </li>
      <li class="flex items-center">
        <input
          class="w-96 rounded-sm border-2 border-etiyaNavyColor-1000 bg-white-800 px-4 py-3 text-sm outline-none"
          type="search"
          placeholder="Herhangi bir şey ara..."
        />
      </li>
      <li class="flex items-center">
        <a class="flex items-center" routerLink="/profile">
          <fa-icon class="mr-2 text-2xl" [icon]="faUser"></fa-icon>
          <span class="font-semibold" routerLink="/profile">
            {{ user.userName }} {{ user.userSurname }}
          </span>
        </a>
      </li>
    </ul>
  </nav>
</div>
