<div class="h-full w-full bg-etiyaNavyColor-1000">
  <nav class="h-full pt-8">
    <ul class="flex h-full flex-col">
      <li class="mb-2 flex flex-col">
        <a
          class="flex items-center justify-start px-4 py-4 pl-8 text-lg text-white-800 transition-all hover:bg-white-100"
          routerLink="/content"
          ><fa-icon class="mr-3" [icon]="faList"></fa-icon> Ürün Listesi</a
        >
      </li>
      <li class="mb-2 flex flex-col">
        <a
          class="flex items-center justify-start px-4 py-4 pl-8 text-lg text-white-800 transition-all hover:bg-white-100"
          routerLink="/address"
          ><fa-icon class="mr-3" [icon]="faAddressCard"></fa-icon> Adres
          Listesi</a
        >
      </li>

      <li class="mb-2 flex flex-col">
        <a
          class="flex items-center justify-start px-4 py-4 pl-8 text-lg text-white-800 transition-all hover:bg-white-100"
          routerLink="/orders"
          ><fa-icon class="mr-3" [icon]="faShoppingCart"></fa-icon>
          Siparişlerim</a
        >
      </li>

      <li class="mb-2 flex flex-col">
        <a
          class="flex items-center justify-start px-4 py-4 pl-8 text-lg text-white-800 transition-all hover:bg-white-100"
          routerLink="/customers"
          ><fa-icon class="mr-3" [icon]="faUsers"></fa-icon> Müşteri Listesi</a
        >
      </li>

      <li class="flex flex-col">
        <a
          class="flex items-center justify-start px-4 py-4 pl-8 text-lg text-white-800 transition-all hover:bg-white-100"
          routerLink="/dashboard"
          ><fa-icon class="mr-3" [icon]="faChartBar"></fa-icon> Lorem Ipsum</a
        >
      </li>

      <li class="mt-auto flex flex-col">
        <a
          (click)="logOutFunction()"
          class="flex cursor-pointer items-center justify-start px-4 py-4 pl-8 text-lg text-white-800 transition-all hover:bg-white-100"
          ><fa-icon class="mr-3" [icon]="faSignOut"></fa-icon> Oturumu Kapat</a
        >
      </li>
    </ul>
  </nav>
</div>
