<div class="container m-auto">
  <header class="h-20">
    <nav class="h-full bg-etiyaNavyColor-1000 px-5">
      <ul class="flex h-full flex-row">
        <li class="mr-auto flex w-40 flex-col justify-center">
          <a><img src="../../assets/etiya-logo.svg" alt="" /></a>
        </li>
        <li class="flex items-center justify-center">
          <a
            class="text-md mb-0 mr-3 cursor-pointer border-b-2 uppercase text-etiyaOrangeColor-1000"
            >Menu
          </a>
          <span class="hamburger-menu"></span>
        </li>
      </ul>
    </nav>
  </header>

  <section class="relative">
    <img class="w-full" src="../../assets/5_Helix.jpg" alt="" />
  </section>
</div>
