.line {
  display: flex;
  width: 30px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
}

.line1 {
  width: 15px;
  height: 3px;
  margin-bottom: 6px;
  background-color: rgba(247, 130, 0, 1);
}

.line2 {
  background-color: rgba(247, 130, 0, 1);
}

.line3 {
  width: 30px;
  height: 3px;
  margin-top: 6px;
}
