<div class="container-2xl m-auto">
  <header class="h-20">
    <nav class="h-full bg-etiyaNavyColor-1000 px-5">
      <ul class="flex h-full flex-row">
        <li class="mr-auto flex w-40 flex-col justify-center">
          <a><img src="../../assets/etiya-logo.svg" alt="" /></a>
        </li>
        <li class="flex items-center justify-center">
          <a
            routerLink="/login"
            class="mb-2 mr-3 cursor-pointer border-b-2 text-lg uppercase text-etiyaOrangeColor-1000"
            >Giriş Yap
          </a>
          <a
            routerLink="/register"
            class="mb-2 mr-3 cursor-pointer border-b-2 text-lg uppercase text-etiyaOrangeColor-1000"
            >Kayıt Ol
          </a>
          <a
            class="mb-2 mr-3 cursor-pointer border-b-2 text-lg uppercase text-etiyaOrangeColor-1000"
            >Menu
          </a>
          <div class="hamburger-lines cursor-pointer">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
          </div>
        </li>
      </ul>
    </nav>
  </header>

  <section class="relative">
    <img class="w-full" src="../../assets/5_Helix.jpg" alt="" />
  </section>
</div>
